.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b28158;
    font-family: 'Tajawal', sans-serif;
    gap: 1em;
    font-size: 1.2em;
    padding: 10px 0;

    img {
        border-right: 2px solid white;
    }
    ul {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2em;

        li {
            position: relative;
            cursor: pointer;
            color: aliceblue;
            font-weight: normal;

            &:hover {
                font-weight: bold;
            }
          
        }
    }

    .contact-number {
        display: flex;
        align-items: center;
        margin-right: 20px;

        i {
            margin-right: 10px;
        }
    }
}